.project
.classpath
.springBeans
.settings/
.idea
.idea/
*.iml
target/
generated/

#Build
target
target-eclipse
*.class
#Misc
*~
*.info

#Idea
*.iml
*.ipr
*.iws
.idea

#Eclipse
.classpath
.project
.settings
.pmd*

*.log
*.log*
logs

*.pyc
*.DS_Store
*.swp
*.vim

*.orig
